*/__pycache__/*
/__pycache__/*
cmai-data/*
classify.py
/data/*.csv
/data/*.py
/data/*.txt
/data/*.dat
/data/*/
metric.py
run_tcr_model.py
tcr_fig.py
/model_parameter/*
esm2_token_embeddings_650M.pkl.gz
MHC_esm2_token_embeddings_650M_long.pkl.gz
esm_shards/*
esm_antibody_antigen/*
model_comparison/*
running_model.py
/model_parameter_*/*
/rf_plots/*
/source_analysis/*
/benchmark/*
/benchmark*
/inference_progress*
/.vscode/*
model_parameter.zip
model_running_model.py
random_forest.py